Functions

In [ ]:
#funtion is a block of code that is used to do repeated task by using a sigle reusable piece of code
#execute only when called

#types of fxn--built in, userdefined

In [ ]:
def hello():
    print("Hello world using function") 
hello()  #-- here is the function call

Hello world using function

In [ ]:
def addd():
    a=10
    b=20
    c=a+b
    print(c)
addd()         #here is the function call

30

In [ ]:
#function behave as per user---parameter and argument
def addd():
    a=int(input("Enter the value of a:"))
    b=int(input("Enter the value of b:"))
    c=a+b
    print(c)
addd()

30

In [ ]:
def addd(a,b):
    print(a+b)
addd(10,30)      #function using parameter and argument

40

In [ ]:
#arbitary arguement---args--denoted as *
def child(*kids):                               # arbitary used to passed
    print("The youngest child is "+kids[2])   #the younget child is indexed to 2nd index.

child("mohan","harsh","sonu")

The youngest child is sonu

In [ ]:
def child(child1,child2,child3):                               #keyword arguments
    print("The youngest child is "+child3)

child(child3="rohan",child2="monu",child1="sh")

The youngest child is rohan

In [ ]:
#arbitary keyword argument---denoted as **kwargs
def child(**kids):                               
    print("The youngest child is "+kids["child3"])    #combination of args and keyword

child(child3="rohan",child2="monu",child1="sh")

The youngest child is rohan

In [13]:
#default parameter value
def hobby(name):
    print("my hobby is "+name)
hobby("running")

my hobby is running

In [ ]:
#default parameter value
def hobby(name="playing"):    #default values initialised here
    print("my hobby is "+name)
hobby("running")
hobby()

my hobby is running
my hobby is playing

In [18]:
def lst(name):
    for i in name:
        print(i)
lst=[10,20,50,30,60]

In [ ]:
def avg(a,b):                       #function of average9
    return (a+b)/2
print(avg(10,20))

15.0

In [ ]:
##lambda fxn---small anonymous function
##lembda arguments--expression

In [ ]:
x=lambda a: a+10
x(5)     #parameter is given here

15

In [ ]:
x=lambda a,b:a+b
x(5,10)    #two parameters are to be given here

15

In [4]:
x=lambda a,b:a*b
x(10,80)

800

In [ ]:
# map 
def sq(num):
    return num*num
lst=[1,2,3,4,5]
result=(map(sq,lst))  #map function is used to apply the function to each element of the list
print(list(result))  #convert the map object to a list to see the results,typecasting to list is done here

[1, 4, 9, 16, 25]

In [8]:
# map using lambda function
lst = [1, 2, 3, 4, 5]
result = map(lambda num: num * num, lst)  # lambda function used instead of sq
print(list(result))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
## filter function
lst = [1, 2, 3, 4, 5, 6]
result = filter(lambda x: x % 2 == 0, lst)  # keeps only even numbers
print(list(result))  # Output: [2, 4, 6]

[2, 4, 6]

In [ ]:
## reduce function
from functools import reduce    #from left to right
lst = [1, 2, 3, 4, 5, 6]
result = reduce(lambda num1,num2: num1+num2, lst) 
print(result)

21

In [ ]:
## enumerate function
lst=["mohn","sonu","abc"]   #it gives index number with the element
result=enumerate(lst)
print(list(result))

[(0, 'mohn'), (1, 'sonu'), (2, 'abc')]

In [ ]:
## enumerate function
lst=["mohn","sonu","abc"]   #it gives index number with the element
result=enumerate(lst,start=10)    # we can add start values from where idex we want to start
print(list(result))

[(10, 'mohn'), (11, 'sonu'), (12, 'abc')]

In [20]:
## zip function---it is use to combine two or more iterables
lst=["mohn","sonu","abc"]
lst2=[1,2,3]
result=zip(lst,lst2)
print(list(result))

[('mohn', 1), ('sonu', 2), ('abc', 3)]

In [ ]:
lst=["mohn","sonu","abc"]
lst2=[1,2]          #if we give one less elemnt then  it only zips to the pairs
result=zip(lst,lst2)
print(list(result))    #[('mohn', 1), ('sonu', 2)]

[('mohn', 1), ('sonu', 2)]

In [28]:
## unzip 
zipped=[('mohn', 1), ('sonu', 2), ('abc', 3)]
result, number = zip(*zipped)   #result and number two different var is used because one list is of names and one is of numbers
print(list(result))
print(list(number))

['mohn', 'sonu', 'abc']
[1, 2, 3]